PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://uday:uday123@cluster0.trh0k.mongodb.net/
ACCESS_TOKEN_SECRET=your_access_token_secret_key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=de9cf2cc1
CLOUDINARY_API_KEY=633363697223497
CLOUDINARY_API_SECRET=eri6ao5CHXj-E4wsxa_eAhbQitA